# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor
.vscode/
.idea/
*.swp
*.swo

# Python / Sphinx build output
_build/
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Node
node_modules/

# Env
.env
.env.local


hardware/EX16 STEP file
hardware/GX16 STEP file

**/*.zip
